/* ======================================
        BOOTSTRAP 3 MEDIA QUERIES
====================================== */
/* Large Devices (Desktops & Laptops) */
@media(min-width: 1200px;) and (max-width: 1299px;) {

    /* Navigation */
    .site-nav-wrapper {
        padding: 0 20px;
    }

}

/* Medium Devices (Landscape Tabletts & Medium Desktops) */
@media(min-width: 992px;) and (max-width: 1199px;) {

    /* Navigation */
    .site-nav-wrapper {
        padding: 0;
    }

    /* Generic */
    .vertical-heading h2 {
        font-size: 29px;
    }

    /* Services 02 */
    /*#services-tabs .tab-bg {
        padding: 16px 30px;
        min-height: 300px;
    }*/
    ..service-tab .tab-bg {
        padding: 16px 30px;
        min-height: 300px;
    }

    .service-tab p {
        line-height: 20px;
    }

}

/* Small Devices (Portrait Tebletts & Small Desktops) */
@media(min-width: 768px;) and (max-width: 991px;) {
    
}

/* Extra Small Devices (Landscape Phone & Portrait Tebletts) */
@media(max-width: 767px;) {
    
}















































































